body {
    background-color: rgb(177, 210, 233);
}

.header {
    padding: 30px;
}

.links {
    display: inline;
    margin-left: 450px;
}

.links a {
    margin-left:25px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.links a:hover {
    color: blue;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}

.link-a-1 {
    background-color: aqua;
    border: aqua solid 2px;
    color: white;
    font-weight: bold;
}

.link-a-2 {
    background-color: transparent;
    border: aqua solid 2px;
    color: white;
    font-weight: bold;
}

.span-1,
.span-2 {
    font-weight: bold;
    font-size: x-large;
}

.span-1 {
    color: black;
}

.span-2 {
    color: black;
}

.secao-1 {
    width: 600px;
    margin-left: -50px;
    margin-top: 50px;
}


.img {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

.img img {
    width: 150%;
    border-radius: 100px;
}

.secao-2 {

    width: 500px;
    margin-left: -40px;
    margin-top: 30px;

}

.ofea {
    width: 400px;
    margin: 0 auto;
}

.ofea img {
    width: 100%;
    border-radius: 100px;
}

.secao-3 {

    width: 500px;
    margin-left: 600px;
    margin-top: -280px;

}

.secao-4 {
    width: 500px;
    margin-left: 100px;
    margin-top: 580px;

}

.secao-5 {

    width: 100%;
    border-radius: 100px;
}

.secao-6 {
    width: 100%;
    border-radius: 100px;
    margin-top: 50px;
    text-align: center;
}

.secao-7 {
    margin-left: 120px;
    width: 100%;
    border-radius:100px;
    margin-top: 20px;
}

.secao-8 {
    
    width: 200px;
    margin-left: 50px;
    margin-top: -300px;
}
.secao-9{
    margin-left: 500px;
    width: 100%;
    border-radius: 100px;
    margin-top: 60px;
}
.vice{
    margin-top:-470px;
    margin-left:600px;
}


.section {
    scroll-snap-align: start;
    height: 70vh;

    /* unrelated visual styling */
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 40px;
    box-sizing: border-box;
}

.section-1 {
    background: rgb(177, 210, 233);
}

.section-2 {
    background: rgb(177, 210, 233);
}


.section-3 {
    background: rgb(177, 210, 233);
}

.section-4 {
    background: rgb(177, 210, 233);
}

.section-5 {
    background: rgb(177, 210, 233);
}

.section-6 {
    background: rgb(177, 210, 233);
}
.img2 {
    width: 350px;
    margin: 0 auto;
    margin-top: 320px;
}

.img2 img {
    width: 150%;
    border-radius: 100px;
}
.imgvice {
    width: 350px;
    margin: 0 auto;
    margin-top: -350px;
    margin-left: 1000px;
}

.imgvice img {
    width: 150%;
    border-radius: 100px;
}